<a href="https://colab.research.google.com/github/GODHYEONJU/MS-AI-School-/blob/main/4_17_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
dic= {'apple':2500, 'banana':3000, 'peer':1200, 'cheery':6000}

In [ ]:
Series_Data = Series(dic)
Series_Data #key값 = 인덱스 값값

apple     2500
banana    3000
peer      1200
cheery    6000
dtype: int64

In [ ]:
dic= {'apple':[2500, 4000], 'banana':[3000, 4500], 'peer':[1200,3500], 'cherry':[6000, 8000]}

In [ ]:
DataFrame(dic) #key 값 = 칼럼명명

   apple  banana  peer  cherry
0   2500    3000  1200    6000
1   4000    4500  3500    8000

In [ ]:
DF = DataFrame(dic, columns = ['apple','banana','cherry','peer'])
print(DF)

   apple  banana  cherry  peer
0   2500    3000    6000  1200
1   4000    4500    8000  3500